.subscribe{
    height: 400px;
}
.bg-color-1{
    background-color: #20c997;
}
.bg-color-2{
    background-color: #d63384 ;
}
.bg-color-3{
    background-color: #6610f2;
}
.bg-color-4{
    background-color: #FADBD8 ;
}
.catagories-img{
    width: 75px;
    height: 75px;
}